<% if !notice.nil? %>
  <div class="alert alert-success"><%= notice %></div>
<% end%>

<h1>
  <%= @provider.name %>
</h1>

<p>
  <b>Telefono:</b>
  <%= @provider.phone %>
</p>

<p>
  <b>Direccion:</b>
  <%= @provider.address %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @provider.city %>
</p>

<p>
  <b>Provincia:</b>
  <%= @provider.state %>
</p>

<p>
  <b>Comentarios:</b>
  <%= @provider.comments %>
</p>


<%= link_to 'Editar', edit_provider_path(@provider), {:class=>"btn btn-info"} %> |
<%= link_to 'Volver', providers_path, {:class=>"btn btn-danger"} %>
