<ul class="thumbnails">
<% @products = Product.all %>
<% @colors = ["success", "primary", "info", "warning", "danger"] %>
<% @products.each do |product| %>
	<li class="span3">
 		<%= image_tag product.image_url, :size => "260x180" %>
      	<!-- <img data-src=<%= product.image_url %> alt=""> -->
    	<div class="caption">
      	<button href="#myModal<%= product.id %>" role="button" class="btn btn-large btn-block btn-<%=@colors[rand(0..4)]%> " data-toggle="modal"><%= product.name %></button>
		
    	
    	</div>
 	</li>
 	<!-- Modal -->
	<div id="myModal<%=product.id%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    		<h3 id="myModalLabel"><%= product.name %></h3>
  		</div>
  		<div class="modal-body">
    		<p><%= product.description %></p>
			<%= image_tag product.image_url %>
  		</div>
  		<div class="modal-footer">
    		<button class="btn btn-<%=@colors[rand(0..4)]%>" data-dismiss="modal" aria-hidden="true">Volver</button>
  		</div>
	</div>
<% end %>
</ul>
 
