<h1>Productos</h1>
<table class="table">
  <tr>
    <th>Cod.</th>
    <th>Producto</th>
    <th>Descripcion</th>
    <th>Imagen</th>
    <th>Precio Lista</th>
    <th>Precio Venta</th>
    <th>Stock</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.id %></td>
    <td><%= product.name %></td>
    <td><a href="#" class="tooltipField" data-toggle="tooltip" data-placement="bottom" title="<%= product.description %>"> <%= truncate(product.description, :length => 50) %></a></td>
    <td><%= product.image_url %></td>
    <td><%= number_to_currency(product.list_price) %></td>
    <td><%= number_to_currency(product.sell_price) %></td>
    <td><%= product.stock %></td>
    <td><%= link_to 'Ver', product %></td>
    <td><%= link_to 'Editar', edit_product_path(product) %></td>
    <td><%= link_to 'Borrar', product, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
  </tr>
<% end %>
</table>



<%= link_to 'Nuevo Producto', new_product_path %>
