<% if !notice.nil? %>
  <div class="alert alert-success"><%= notice %></div>
<% end%>

<h1>
  <%= @product.name %>
</h1>

<p>
  <b>Descripcion:</b>
  <%= @product.description %>
</p>

<p>
  <b>Imagen:</b>
  <%= @product.image_url %>
</p>

<p>
  <b>Precio de lista:</b>
  <%= number_to_currency(@product.list_price) %>
</p>

<p>
  <b>Precio de venta:</b>
  <%= number_to_currency(@product.sell_price) %>
</p>

<p>
  <b>Stock:</b>
  <%= @product.stock %>
</p>


<%= link_to 'Editar', edit_product_path(@product), {:class=>"btn btn-info"} %> |
<%= link_to 'Ver Todos', products_path, {:class=>"btn btn-primary"} %>  |
<%= link_to 'Agregar Otro', new_product_path, {:class=>"btn btn-success"} %> |
<%= link_to 'Eliminar', @product, method: :delete, class: "btn btn-danger", data: { confirm: 'Estas seguro?'} %>
