<%= form_for(@sell) do |f| %>
  <% if @sell.errors.any? %>
    <div class="alert alert-error">
      <h2><%= pluralize(@sell.errors.count, "fucking error") %></h2>
      <ul>
      <% @sell.errors.values.each do |msg| %>
        <li><%= msg[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table">
    <thead>
    <tr>
      <th colspan="3">
        <%= f.select :payment_type_id, PaymentType.all.collect {|p| [ p.name, p.id ] }, {:prompt => 'Seleccione Metodo de pago'},{:class=>"input-large"} %>
      </th>
      <th colspan="3">
        <div>
        <%= f.date_select :date, {}, {:class=>"input-small pull-right"} %>
        </div>
      </th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td colspan="4">
        <h2 class="pull-right">Total $</h2>
      </td>
      <td colspan="1" class="input-prepend">
      <span class="add-on">%</span>
      <%= f.text_field :discount, :placeholder=>"Descuento", :id=>"total_discount", :class=>"prependedInput input-mini" %>
      </td>
      <td colspan="1">
      <%= f.text_field :amount, :placeholder=>"Total", :id=>"total_amount", :class=>"input-mini pull-right" %>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <%= link_to_add_fields "Agregar lineas de venta..", f, :line_items %>
        <%= f.submit "Registrar venta", :class=>"btn btn-success pull-right" %>
        <%= link_to 'Cancelar', purchases_path, {:class=>"btn btn-danger pull-right"} %>
      </td>
    </tr>
    </tfoot>
    <tbody>
    <%= f.fields_for :line_items do | builder | %>
      <%= render "line_item_fields", :f => builder %>
    <% end %>
    </tbody>
<% end %>